._guimath_editor_window {
    --background-color: rgb(248, 248, 248);
    --background-dark-1: rgb(220, 220, 220);
    --default-font-color: black;
    --default-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    --success-green: rgb(3, 107, 35);
    --error-red: rgb(107, 0, 18);
}
._guimath_editor_window._guimath_dark_theme {
    --background-color: rgb(42, 42, 42);
    --background-dark-1: rgb(18, 18, 18);
    --default-font-color: white;
    --default-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    --success-green: rgb(55, 255, 115);
    --error-red: rgb(255, 13, 53);
}
._guimath_editor_window._guimath_grey_theme {
    --background-color: rgb(215, 214, 214);
    --background-dark-1: rgb(185, 185, 185);
    --default-font-color: black;
    --default-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    --success-green: rgb(3, 107, 35);
    --error-red: rgb(107, 0, 18);
}
._guimath_editor_window._guimath_dark_blue_theme {
    --background-color: rgb(38, 50, 56);
    --background-dark-1: rgb(26, 35, 39);
    --default-font-color: white;
    --default-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    --success-green: rgb(55, 255, 115);
    --error-red: rgb(255, 13, 53);
}
._guimath_editor_window._guimath_light_blue_theme {
    --background-color: rgb(242, 250, 255);
    --background-dark-1: rgb(195, 209, 215);
    --default-font-color: black;
    --default-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    --success-green: rgb(3, 107, 35);
    --error-red: rgb(107, 0, 18);
}
._guimath_editor_window._guimath_dark_pink_theme {
    --background-color: rgb(35, 0, 30);
    --background-dark-1: rgb(34, 18, 30);
    --default-font-color: white;
    --default-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    --success-green: rgb(55, 255, 115);
    --error-red: rgb(255, 13, 53);
}
._guimath_editor_window._guimath_light_pink_theme {
    --background-color: rgb(245, 235, 238);
    --background-dark-1: rgb(213, 195, 199);
    --default-font-color: black;
    --default-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    --success-green: rgb(3, 107, 35);
    --error-red: rgb(107, 0, 18);
}

._guimath_editor_window {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--default-font-color);

    background-color: var(--background-color);
    /*border: 2px solid var(--default-font-color);*/
    border-radius: 1em;
    box-shadow: var(--default-shadow);

    padding: 20px;
    min-width: 280px;
    width: min(600px, 80%);
}

._guimath_editor_window svg {
    stroke: var(--default-font-color);
}

._guimath_editor_window button {
    background-color: var(--background-color);
    transition: background-color ease 0.2s;
    color: var(--default-font-color);
}

._guimath_editor_window button:hover {
    background-color: var(--background-dark-1);
}

._guimath_tab_container_container {
    display: flex;
    flex-flow: row wrap;
}

._guimath_save_equation svg {
    stroke: var(--success-green);
}

._guimath_clear_equation svg {
    stroke: var(--error-red);
}

.guimath_tab_container {
    padding: 5px;
    font-family: monospace;
    font-size: 1.1rem;
    border-radius: 6px;
    background-color: var(--background-color);
    transition: background-color ease 0.25s;
    cursor: pointer;
    user-select: none;
    margin: 0 10px;
}

.guimath_tab_container._guimath_active_tab {
    background-color: var(--background-dark-1);
}

.guimath_tab_container:hover {
    background-color: var(--background-dark-1);
}

.guimath_editor_controls {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

._guimath_editor_display {
    padding: 10px;
    margin: 10px;
    border: 1px solid var(--default-font-color);
    border-radius: 10px;
    overflow-x: auto;
}

.guimath_tab {
    padding: 10px;
    margin-top: 10px;
    display: none;
    align-items: stretch;
    flex-flow: row wrap;
}

.guimath_tab .guimath-btn {
    background-color: var(--background-color);
    transition: background-color ease 0.15s;
    cursor: pointer;
    margin: 2px;
    min-width: 25px;
    text-align: center;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    border-radius: 5px;
    font-size: 1.1rem;
}

.guimath-btn:hover {
    background-color: var(--background-dark-1);
}

.guimath_clear_save_buttons, .guimath_button_container {
    display: flex;
    flex-flow: row wrap;
    font-family: monospace;
    font-size: 1.1rem;
    align-items: center;
    justify-content: center;
}

.guimath_button_container {
    margin: 0 5px;
    background-color: var(--background-color);
    border-radius: 6px;
    transition: background-color ease 0.15s;
    cursor: pointer;
    padding: 5px;
}

.guimath_button_container:hover  {
    background-color: var(--background-dark-1);
}

._guimath_dir_btn {
    margin: 0 5px;
    border: 1px solid transparent;
    border-radius: 3px;
}

._guimath_equation_input {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

._guimath_equation_input_preview {
    margin-left: 10px;
}